# Django
SECRET_KEY=dev-secret-key-change-me
DEBUG=1
ALLOWED_HOSTS=*

# DB
POSTGRES_DB=access_db_1
POSTGRES_USER=access_user_1
POSTGRES_PASSWORD=access_pass_1
DB_HOST=db
DB_PORT=5432

# Zona horaria
TZ=America/Tegucigalpa
